Package: me.nepeta.unsub
Name: UnSub
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), applist, firmware (>= 9.0)
Conflicts: co.vexation.nosubstitute, com.opa334.nosubstitute12
Version: 0.1.9
Architecture: iphoneos-arm
Description: Disable tweak injection (Substrate/Substitute) in certain apps.
Maintainer: Nepeta
Author: Nepeta
Section: Tweaks
